[defaults]
inventory = inventory/production.local.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
roles_path = roles
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible-tmp

[ssh_connection]
control_path_dir = /tmp/ansible-cp
